
@{
    ViewData["Title"] = "DisplayRecipe";
}

<h1>DisplayRecipe</h1>

<form action="../Recipe/DisplayAllRecipe" method="post">
    <input type="text" name="tag" value="" />
    <input type="submit" name="" value="Submit" />
</form>